* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    margin-block: 0;
}

body {
    align-items: center;
    background-color: #121212;
    display: flex;
    height: 100vh;
    justify-content: center;

}

.calculator {
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 800px;
    padding: 3rem;
    width: 600px;
}

.container-display {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.box-display {
    border: 1px solid white;
    width: 100%;
    height: 100%;
}

.container-buttons {
    display: flex;
    flex: 4;
    justify-content: space-between;
    width: 100%;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}

.buttons-column-4 {
    gap: 1.1rem;
} 

button {
    aspect-ratio: 1 / 1;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 2em;
    width: 90px;
}

.equals {
    flex: 2;
    /* flex: 2; no aspect ratio because this needs to stretch a length of (2 + gap) buttons */
}