@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    margin-block: 0;
}

body {
    align-items: center;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.calculator {
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 800px;
    padding: 3rem;
    width: 600px;
}

.container-display {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.box-display {
    align-items: center;
    border: 1px solid white;
    display: flex;
    font-size: 3rem;
    height: 100%;
    padding: 1.5rem;
    justify-content: flex-end;
    width: 100%;
}

.container-buttons {
    display: flex;
    flex: 4;
    justify-content: space-between;
    width: 100%;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: fit-content;
}

button {
    aspect-ratio: 1 / 1;
    background-color: #222;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    width: 90px;
}

button:active {
    background-color: #333;
}

.equals {
    height: calc(180px + 1rem); 
    /* occupies 2 flex items height + 1rem to account for gap */
}

.operator, .equals {
    background-color: #d97d55;
}

.operator:active, .equals:active {
    background-color: #ad4f27;
}


.special {
    background-color: #777;
}

.special:active {
    background-color: #535353;
}